.full{
  border: 1px solid rgb(230, 142, 10);
  height: 670px;
  width: 700px;
  margin-left: 360px;
  background-color: honeydew;
   }

.container{
    text-align: center;
    color: lightslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;            
}
.input{
    width: 250px;
}
.text{
    font-size: 20px;
   text-transform: uppercase;
}
.main{
    margin-left: 150px;
  
}
